@import "../styles/styles.scss";

.content {
    h2, h3, h4, h5 {
      font-weight: bold;
      color: $dkgreen-700;
      background: $shadow-grad-1;
  }
}

.title {
  color: $dkgreen-700;
  font-weight: bold;
  background: $shadow-grad-1;
}

.content a {
  box-shadow: inset 0 -.5em $bunny-500, 0 .25em $bunny-500;
}

.imageContainer {
  border-radius: 10px;
  width: 85vw;
  margin: 10px auto;
}

img {
  object-position: top left;
  object-fit: cover;
}

.content ul {
  list-style: disc inside;
}