@import "../styles/styles.scss";

.content {

}

.title {

}

.imageContainer {
  border-radius: 10px;
  width: 85vw;
  margin: 10px auto;
}

img {
  object-position: top left;
  object-fit: cover;
}

.content ul {
  list-style: disc inside;
}