// Fira Code 400, 700
// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
// Courier Prime 400, 700
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
// Raleway 300, 400, 700, 900 & italic 300, 400, 700, 900
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
// Cantarell 400, 700 & italic 400.
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400&display=swap');
// Krona One 400
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

// Variable definitions:

  // Typefaces
  $font-heading: 'Raleway', sans-serif;
  $font-text: 'Cantarell', serif;
  $font-mono: 'Courier Prime', 'Fira Code', 'Courier New' monospace;
  $font-accent: 'Krona One', 'Raleway', sans-serif;

  // Colors
  $color-primary: $bunny-100;
  $color-accent: $bunny-400;

    // Defaults
    body {
      font-family: $font-text;
      color: $color-primary
    }

    h1,h2,h3,h4,h5,h6 {
      font-family: $font-heading;
      font-weight: bold;
		}
		
		a {
			color: $color-primary;
		}

    .accent {
      font-family: $font-accent;
    }

    .mono {
      font-family: $font-mono;
    }

// Sizes
$font-size: calc(.5rem + 2.5vmin);
$line-height: calc((1.25 * (.5rem + 2vmin)) + 2vw);

html {
	font-smooth: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-size: clamp(12px, $font-size, 32px);
	line-height: $line-height;
}

p{	
	font-family: $font-text;
}

h1,h2,h3,h4 {
	font-family: $font-heading;
	font-weight: bold;
}

h1 {
  font-size: calc(2.617rem + 6.85vmin);
  line-height: 1em;
}

h2 {
	font-size: calc(2.617rem + 4.87vmin);
}

h3 {
	font-size: calc(1.618rem + 2.617vmin);
}

h4 {
	font-size: calc(1rem + 1.618vmin);
}

a {
	color: $color-primary;
	text-decoration: none;
	font-weight: bold;
	box-shadow: inset 0 -.5em $bunny-900, 0 .125em $bunny-900;

	&:hover {
		box-shadow: inset 0 -.5em $bunny-700, 0 .125em $bunny-700;
	}
  }
