// Global

@import "./colors";
@import "./typography";
@import "./animations";

// Global Styles

html {
  box-sizing: border-box;
  background: $bg-grad-dark;
  background-attachment: fixed;
  mix-blend-mode: normal;
}

body {

}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


