// Global

@import "./colors";
@import "./typography";
@import "./animations";

// Global Styles

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $bg-grad-2;
  background-attachment: fixed;
  mix-blend-mode: normal;
}

body {
  box-sizing: border-box;
  overflow: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}