@import "../../styles/styles.scss";

nav {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: $bg-grad-2;
  width: 100%;
  max-width: 30ch;
  height: 100vh;
  text-align: left;
  padding: clamp(84px, calc(12.5vmin), 200px) calc(5ch - 2.5vmin);
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  overflow-y: scroll;

  &.menuOpen {
    transform: translate(0);
  }

  &.menuClosed {
    transform: translate(100%);
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-text;
    font-weight: bold;
    letter-spacing: .25ch;
    color: $dkgreen-700;
    text-decoration: none;
    box-shadow: none;
    padding: .5ch 1ch;
    margin: 1ch 0;
    border: .2em solid $dkgreen-700;
    width: 100%;

    &:hover {
      color: $bunny-100;
      border-color: $bunny-100;
      box-shadow: none;
    }
  }
}