@import "../styles//styles.scss";

* {
  
}

.content {

}

.title {
  
}

.profilePic {
  width: 25vw;
  border-radius: 50%;
  float: right;
  margin-left: 15px;
}

.button {
  z-index: 1;
  cursor: pointer;
  padding: 9px 11px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  background-color: rgba($color: $bunny-100, $alpha: 0.1);
  font-family: $font-mono;
  border: 3px $bunny-100 solid;
  box-shadow: none;
}