@import "../styles//styles.scss";

* {
  color: $dkgreen-700;
}

.content {
    h2, h3, h4, h5 {
      font-weight: bold;
      color: $bunny-900;
      box-shadow: inset 0 -.3em $bunny-400, 0 .3em $bunny-400;
  }
}

.title {
  color: $bunny-900;
  font-weight: bold;
  box-shadow: inset 0 -.3em $bunny-400, 0 .3em $bunny-400;
}