@import "../styles/styles.scss";

.splashPage {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
    "bunny"
    "info"
    "navbar";
}

.image {
  grid-area: bunny;
  max-width: 50vw;
  margin: 15px 25vw 0;
}

.siteTitle {
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.siteSubtitle {
  font-size: 6.2vw;
  text-align: center;
  margin: 0;
}

.info {
  display: block;
  grid-area: info;
}