@import "../styles/styles.scss";

// The scale factor can be calculated with 1 + (translateZ * -1) / perspective

.splashPage {
  
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallaxBack {
  transform: translateZ(-1px) scale(2);
}

.parallaxBase {
  transform: translateZ(0);
}

.image {
  max-width: 100vw;
  padding: 100vh 0;
}

.info {
  padding: 20vh 0 200vh;
}

.codeblock {
  position: absolute;
  overflow-wrap: normal;
  width: min-content;
  max-width: 95vw;
  top: 100vh;
  right: 2.5vw;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
}

.siteTitle {
  display: inline-block;
  font-size: 16vw;
  font-weight: bolder;
  color: $bunny-900;
  line-height: 80%;
  margin: 0 7vw;
}

.siteSubtitle {
  display: inline-block;
  box-sizing: border-box;
  font-size: 5.6vw;
  font-family: $heading-font;
  color: $bunny-900;
  font-weight: bold;
  margin: 30px 7vw 0;
}

.navigation {
  padding-top: 205vh;
  padding-bottom: 3vh;
}
