@import "../../styles/styles";

* {
  box-sizing: border-box;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  transition: 300ms ease-in-out;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  z-index: 1;
  cursor: pointer;
  width: 64px;
  margin: 12px;
  transition: all 300ms ease-in-out;
}

div.menuOpen {
  max-height: 100vh;
}

.rotate {
  transform: rotate(360deg);
}

.siteTitle {
  position: absolute;
  top: 15px;
  width: 95vw;
  margin: 3.5vw 2.5vw;  
  text-align: center;
  flex-grow: 1;
  
}

.menuButton {
  z-index: 1;
  cursor: pointer;
  padding: 9px 11px;
  margin: 0 16px 0 0;
  display: inline-block;
  text-align: center;
  border: .2rem solid;
  background-image: $bg-grad-1;
  background-origin: border-box;
  background-clip: text;
  border-image: $bg-grad-1;
  border-image-slice: 1;
  color: transparent;
  font-family: $font-mono;
}

.menuContainer {
  z-index: 0;
  position: absolute;
  top: 0;
  transition: all 400ms ease-in-out;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  background: $bg-grad-dark;
}
