@import "../../styles/styles.scss";

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 10px;
  height: 50px;
  width: 100%;
  background-color: rgba($color: #FFF, $alpha: 0.5);
  text-align: center;
}