@import "../../styles/styles.scss";

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 100%;
  background-color: rgba($color: #FFF, $alpha: 0.25);
  text-align: center;
  font-family: $font-mono;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 5px;
}