@import "../../styles/styles.scss";

* {
  
}

.content {

}

.date {
  font-style: italic;
}

.tags {

}

.tag {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-family: $font-mono;
  background: rgba($color: #FFF, $alpha: .25);
  box-shadow: -4px 4px $bunny-500;
}

.title {
  
}

h1 {
  
}