.blogPostLayout {
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 45vh;
  min-height: 100vh;
}

.mainContainer {
  padding-top: clamp(128px, (10vmin), 256px);
}

.blogPostLayoutContent {
  margin: 0 calc(max(5vw, calc(25vw - 75px)));
}
