.blogPostLayout {
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 25vh;
  min-height: 100vh;
}

.blogPostLayoutContent {
  margin: 0 5vw;
}
