.blogPostLayout {
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: clamp(128px, (10vmin), 256px);
  padding-bottom: 45vh;
  min-height: 100vh;
}

.blogPostLayoutContent {
  margin: 0 5vw;
}
