.homeLayout {
  box-sizing: border-box;
  position: relative;
  display: block;
  position: relative;
  padding-bottom: 25vh;
  min-height: 100vh;
}

.homeLayoutContent {
  margin: 0 calc(max(5vw, calc(20vw - 75px)));
}
